* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFF8E4;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #2e2e2e;
}
button {
  cursor: pointer;
}
hr {
  border: 0;
  clear: both;
  display: block;
  width: 80%;
  background-color: #616161;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% 0% 10% 0%;
}
.hero-logo {
  width: 500px;
  height: 500px;
  border: solid black 1px;
}
.hero-main {
  font-size: 2.5rem;
}
.hero-sub {
  margin-bottom: 0.7rem;
}
.hero-cta {
  background-color: #DADADA;
  padding: 0.5rem;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% 15%;
}
.about-main {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}
.about-sub {
  text-align: center;
  font-size: 1.1rem;
  max-width: 900px;
}


.menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8% 0%;
}
.menu-main {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.menu-content {
  display: grid;
  padding: 0 2rem 2rem 2rem;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
  grid-auto-flow: column;
  width: 1250px;
}
.menu-section {
  border: #272727 solid 1px;
}
.appetizers {
  grid-row: span 2;
}
.soups {
  
}
.fried-rice {
  grid-row: span 3;
}
.beverages {
  grid-row: span 2;
}
.platters {
  grid-row: span 5;
}
.special-dishes {
  grid-row: span 3;
}
.combinations {
  grid-row: span 8;
}

.gallary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.gallary-main {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}
.gallary-preview {
  display: flex;
  gap: 1.5rem;
}
.gallary-photo {
  width: 250px;
  height: 250px;
  border: solid black 1px;
}
.gallary-full-link {
  margin-top: 0.3rem;
}

.contact {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  text-align: center;
}