* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
button {
  background-color: transparent;
  cursor: pointer;
}
hr {
  border: 0;
  clear: both;
  display: block;
  width: 80%;
  background-color: #616161;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  background-color: #FFF8E4;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #2e2e2e;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}
.nav-button {
  padding: 0.8rem;
  font-size: 1rem;
}
.nav-button:hover {
  color: #FF6F6F;
  opacity: 0.8;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% 0% 10% 0%;
}
.hero-logo {
  width: 500px;
  height: 500px;
}
.hero-sub {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
.hero-cta {
  border: 0.15rem solid #FF6F6F;
  opacity: 0.8;
  font-size: 1rem;
  padding: 0.8rem;
}
.hero-cta:hover {
  background-color: #FF6F6F;
  color: #FFF8E4;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% 15%;
}
.about-main {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}
.about-sub {
  text-align: center;
  font-size: 1.1rem;
  max-width: 900px;
}


.menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8% 0%;
}
.menu-main {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.menu-content {
  display: grid;
  padding: 0 2rem 2rem 2rem;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
  grid-auto-flow: column;
  width: 1250px;
}
.menu-section {
  border: #272727 solid 1px;
}
.appetizers {
  grid-row: span 2;
}
.soups {
  
}
.fried-rice {
  grid-row: span 3;
}
.beverages {
  grid-row: span 2;
}
.platters {
  grid-row: span 5;
}
.special-dishes {
  grid-row: span 3;
}
.combinations {
  grid-row: span 8;
}

.gallary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.gallary-main {
  font-size: 1.3rem;
  margin-bottom: 0.7rem;
}
.gallary-preview {
  display: flex;
  gap: 1rem;
}
.gallary-arrow {
  align-self: center;
  display: none;
  width: 30px;
  height: 40px;
  color: #616161;
  opacity: 0.8;
}
.gallary-photo {
  width: 250px;
  height: 250px;
  border: solid black 1px;
}
.gallary-full-link {
  margin-top: 0.3rem;
}
.gallary-full-link:hover {
  cursor: pointer;
  color: #FF6F6F;
}

.contact {
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
  text-align: center;
}

@media (max-width: 1250px) {
  .menu-content {
    width: 1000px;
  }
  .gallary-photo {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 1000px) {
  .menu {
    height: auto;
  }
  .menu-content {
    width: 700px;
    display: flex;
    flex-direction: column;
  }
  .gallary-preview {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .gallary-photo {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 700px) {
  * {
    font-size: 14px;
  }

  .hero-logo {
    width: 300px;
    height: 300px;
  }
  .menu-content {
    width: 420px;
  }
  .gallary-preview {
    display: flex;
    gap: 0;
  }
  .gallary-photo {
    display: none;
    width: 300px;
    height: 300px;
  }
  .gallary-photo-showing {
    display: block;
  }
  .gallary-arrow {
    display: block;
  }
}

@media (max-width: 420px) {
  .nav-bar {
    display: none;
  }
  .hero-logo {
    width: 250px;
    height: 250px;
  }

  .menu-content {
    width: 300px;
  }
  .gallary-photo {
    width: 250px;
    height: 250px;
  }
}