* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFF8E4;
  border: none;
  font-family: 'Martel Sans', sans-serif;
  font-size: 16px;
}
button {
  cursor: pointer;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-right: 1%;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% 0% 10% 0%;
}
.hero-logo {
  width: 500px;
  height: 500px;
  border: solid black 1px;
}
.hero-main {
  font-weight: bold;
  font-size: 1.5rem;
}
.hero-sub {

}
.hero-cta {
  
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15%;
}
.about-main {

}
.about-sub {
  text-align: center;
}


.menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-main {
  
}
.menu-content {
  display: grid;
  padding: 0 2rem 2rem 2rem;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
  grid-auto-flow: column;
}
.menu-section {
  border: black solid 1px;
}
.appetizers {
  grid-row: span 2;
}
.soups {
  
}
.fried-rice {
  grid-row: span 3;
}
.beverages {
  grid-row: span 2;
}
.platters {
  grid-row: span 5;
}
.special-dishes {
  grid-row: span 3;
}
.combinations {
  grid-row: span 8;
}

.gallary {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallary-preview {
  display: flex;
  gap: 1.5rem;
}
.gallary-photo {
  width: 250px;
  height: 250px;
  border: solid black 1px;
}